html, #root, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}