/* #theFooter {
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

#footerMenuLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footerMenuLinks a{
    width: 100px;
    text-transform:uppercase;
    color: white;
    text-decoration: none;
}

#theFooter img {
    height: 95%;
} */

/* Footer.css */
#theFooter {
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f0e6f6; /* Couleur de fond pastel */
    padding: 20px 30px; /* Espacement autour des éléments */
    display: flex;
    justify-content: space-between; /* Répartit le logo et les liens */
    align-items: center; /* Centre les éléments verticalement */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
}

#theFooter img {
    height: 95%;
    width: auto; /* Garde le ratio du logo */
}

#footerMenuLinks {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Espacement entre les liens */
}

#footerMenuLinks a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #6868AC; /* Couleur pastel des liens */
    font-weight: bold; /* Rend le texte un peu plus épais */
    transition: color 0.3s; /* Transition douce pour le survol */
}

#footerMenuLinks a:hover {
    color: #9b88b5; /* Changement de couleur au survol */
}
